{
    "openapi": "3.0.0",
    "info": {
        "title": "Faskes API",
        "description": "",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api-yankes.kemkes.go.id/faskes",
            "description": "production server"
        }
    ],
    "tags": [
        {
            "name": "login",
            "description": ""
        },
        {
            "name": "rumahsakit",
            "description": ""
        },
        {
            "name": "rumahsakit-ketersediaan-tempat-tidur",
            "description": ""
        },
        {
            "name": "rumahsakit-ketersediaan-pelayanan",
            "description": ""
        },
        {
            "name": "klinik",
            "description": ""
        },
        {
            "name": "praktekmandiri",
            "description": ""
        },
        {
            "name": "labkes",
            "description": ""
        },
        {
            "name": "utd",
            "description": ""
        }
    ],
    "paths": {
        "/login": {
            "post":{
                "tags":[
                    "login"
                ],
                "summary": "",
                "description":"",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "requestBody":{
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "example": {
                                    "userName": "email@email.com",
                                    "password": "password"
                                }
                            }
                        }
                    }
                },
                "responses":{
                    "201": {
                        "description": "created"
                    },
                    "401": {
                        "description": "unauthorized"
                    }
                }
            }
        },
        "/rumahsakit":{
            "get":{
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags":[
                    "rumahsakit"
                ],
                "summary": "",
                "description":"",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters":[
                    {
                        "in": "query",
                        "name": "provinsiId",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "example": "31"
                        },
                        "description": "Kode Provinsi KemDagri"
                    },
                    {
                        "in": "query",
                        "name": "kabKotaId",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "example": ""
                        },
                        "description": "Kode Kab Kota KemDagri"
                    },
                    {
                        "in": "query",
                        "name": "aktive",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "example": ""
                        },
                        "description": "0=tidak aktive, 1=aktive"
                    },
                    {
                        "in": "query",
                        "name": "nama",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": ""
                        },
                        "description": "nama fasyankes"
                    },
                    {
                        "in": "query",
                        "name": "startModifiedAt",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "2023-09-01"
                        },
                        "description": "YYYY-MM-DD"
                    },
                    {
                        "in": "query",
                        "name": "page",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "example": "1"
                        },
                        "description": ""
                    }
                ],
                "responses":{
                    "200": {
                        "description": "data found"
                    },
                    "401": {
                        "description": "unauthorized"
                    },
                    "403": {
                        "description": "forbidden"
                    }
                }
            }
        },
        "/rumahsakit/{id}":{
            "get":{
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags":[
                    "rumahsakit"
                ],
                "summary": "",
                "description":"",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters":[
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "number",
                            "example": 1234567
                        },
                        "description": ""
                    }
                ],
                "responses":{
                    "200": {
                        "description": "data found"
                    },
                    "401": {
                        "description": "unauthorized"
                    },
                    "403": {
                        "description": "forbidden"
                    }
                }
            }
        },
        "/rumahsakitketersediaantempattidur": {
            "get": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "rumahsakit-ketersediaan-tempat-tidur"
                ],
                "summary": "",
                "description": "",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "provinsiId",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "example": "31"
                        },
                        "description": "Kode Provinsi KemDagri"
                    },
                    {
                        "in": "query",
                        "name": "kabKotaId",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "example": ""
                        },
                        "description": "Kode Kab Kota KemDagri"
                    },
                    {
                        "in": "query",
                        "name": "startModifiedAt",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": ""
                        },
                        "description": "YYYY-MM-DD HH:mm:SS"
                    },
                    {
                        "in": "query",
                        "name": "endModifiedAt",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": ""
                        },
                        "description": "YYYY-MM-DD HH:mm:SS"
                    },
                    {
                        "in": "query",
                        "name": "page",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "example": "1"
                        },
                        "description": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "data found"
                    },
                    "401": {
                        "description": "unauthorized"
                    },
                    "403": {
                        "description": "forbidden"
                    }
                }
            }
        },
        "/rumahsakitketersediaanpelayanan": {
            "get": {
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags": [
                    "rumahsakit-ketersediaan-pelayanan"
                ],
                "summary": "",
                "description": "",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "rsId",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "example": "3174063"
                        },
                        "description": "Kode Registrasi Rumah Sakit"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "data found"
                    },
                    "401": {
                        "description": "unauthorized"
                    },
                    "403": {
                        "description": "forbidden"
                    }
                }
            }
        },
        "/klinik":{
            "get":{
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags":[
                    "klinik"
                ],
                "summary": "",
                "description":"",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters":[
                    {
                        "in": "query",
                        "name": "provinsiId",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "example": "31"
                        },
                        "description": "Kode Provinsi KemDagri"
                    },
                    {
                        "in": "query",
                        "name": "kabKotaId",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "example": ""
                        },
                        "description": "Kode Kab Kota KemDagri"
                    },
                    {
                        "in": "query",
                        "name": "nama",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": ""
                        },
                        "description": "nama fasyankes"
                    },
                    {
                        "in": "query",
                        "name": "page",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "example": "1"
                        },
                        "description": ""
                    }
                ],
                "responses":{
                    "200": {
                        "description": "data found"
                    },
                    "401": {
                        "description": "unauthorized"
                    },
                    "403": {
                        "description": "forbidden"
                    }
                }
            }
        },
        "/klinik/{id}":{
            "get":{
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags":[
                    "klinik"
                ],
                "summary": "",
                "description":"",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters":[
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "number",
                            "example": 1234567
                        },
                        "description": ""
                    }
                ],
                "responses":{
                    "200": {
                        "description": "data found"
                    },
                    "401": {
                        "description": "unauthorized"
                    },
                    "403": {
                        "description": "forbidden"
                    }
                }
            }
        },
        "/praktekmandiri":{
            "get":{
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags":[
                    "praktekmandiri"
                ],
                "summary": "",
                "description":"",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters":[
                    {
                        "in": "query",
                        "name": "provinsiId",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "example": "31"
                        },
                        "description": "Kode Provinsi KemDagri"
                    },
                    {
                        "in": "query",
                        "name": "kabKotaId",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "example": ""
                        },
                        "description": "Kode Kab Kota KemDagri"
                    },
                    {
                        "in": "query",
                        "name": "nama",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": ""
                        },
                        "description": "nama fasyankes"
                    },
                    {
                        "in": "query",
                        "name": "page",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "example": "1"
                        },
                        "description": ""
                    }
                ],
                "responses":{
                    "200": {
                        "description": "data found"
                    },
                    "401": {
                        "description": "unauthorized"
                    },
                    "403": {
                        "description": "forbidden"
                    }
                }
            }
        },
        "/praktekmandiri/{id}":{
            "get":{
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags":[
                    "praktekmandiri"
                ],
                "summary": "",
                "description":"",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters":[
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "number",
                            "example": 1234567
                        },
                        "description": ""
                    }
                ],
                "responses":{
                    "200": {
                        "description": "data found"
                    },
                    "401": {
                        "description": "unauthorized"
                    },
                    "403": {
                        "description": "forbidden"
                    }
                }
            }
        },
        "/utd":{
            "get":{
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags":[
                    "utd"
                ],
                "summary": "",
                "description":"",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters":[
                    {
                        "in": "query",
                        "name": "provinsiId",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "example": "31"
                        },
                        "description": "Kode Provinsi KemDagri"
                    },
                    {
                        "in": "query",
                        "name": "kabKotaId",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "example": ""
                        },
                        "description": "Kode Kab Kota KemDagri"
                    },
                    {
                        "in": "query",
                        "name": "nama",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": ""
                        },
                        "description": "nama fasyankes"
                    },
                    {
                        "in": "query",
                        "name": "page",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "example": "1"
                        },
                        "description": ""
                    }
                ],
                "responses":{
                    "200": {
                        "description": "data found"
                    },
                    "401": {
                        "description": "unauthorized"
                    },
                    "403": {
                        "description": "forbidden"
                    }
                }
            }
        },
        "/utd/{id}":{
            "get":{
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags":[
                    "utd"
                ],
                "summary": "",
                "description":"",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters":[
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "number",
                            "example": 1234567
                        },
                        "description": ""
                    }
                ],
                "responses":{
                    "200": {
                        "description": "data found"
                    },
                    "401": {
                        "description": "unauthorized"
                    },
                    "403": {
                        "description": "forbidden"
                    }
                }
            }
        },
        "/labkes":{
            "get":{
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags":[
                    "labkes"
                ],
                "summary": "",
                "description":"",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters":[
                    {
                        "in": "query",
                        "name": "provinsiId",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "example": "31"
                        },
                        "description": "Kode Provinsi KemDagri"
                    },
                    {
                        "in": "query",
                        "name": "kabKotaId",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "example": ""
                        },
                        "description": "Kode Kab Kota KemDagri"
                    },
                    {
                        "in": "query",
                        "name": "nama",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": ""
                        },
                        "description": "nama fasyankes"
                    },
                    {
                        "in": "query",
                        "name": "page",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "example": "1"
                        },
                        "description": ""
                    }
                ],
                "responses":{
                    "200": {
                        "description": "data found"
                    },
                    "401": {
                        "description": "unauthorized"
                    },
                    "403": {
                        "description": "forbidden"
                    }
                }
            }
        },
        "/labkes/{id}":{
            "get":{
                "security": [
                    {
                        "bearerAuth": []
                    }
                ],
                "tags":[
                    "labkes"
                ],
                "summary": "",
                "description":"",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters":[
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "number",
                            "example": 1234567
                        },
                        "description": ""
                    }
                ],
                "responses":{
                    "200": {
                        "description": "data found"
                    },
                    "401": {
                        "description": "unauthorized"
                    },
                    "403": {
                        "description": "forbidden"
                    }
                }
            }
        }
    },
    "components": {        
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT"
            }
        }
    }
}